{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h2 class="primaryfont red">Welcome, {{ user.username }}</h2>
  <p class="body-text navy">Select an area to manage:</p>
  <ul class="list-group">
    <li class="list-group-item">
<li class="list-group-item body-text navy"><a href="{% url 'blog_edit' %}">📝 Blog Posts</a>
<li class="list-group-item body-text navy"><a href="{% url 'event_list' %}">📅 Schedule</a></li>
{# <li class="list-group-item body-text navy"><a href="{% url 'carousel_list' %}">🎠 Carousel</a></li> #}
{# <li class="list-group-item body-text navy"><a href="{% url 'flyer_list' %}">📄 Upcoming Events Flyers</a></li> #}
<li class="list-group-item body-text navy"><a href="{% url 'portal_logout' %}">🚪 Log Out</a></li>

  </ul>
</div>
{% endblock %}
