{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="container mt-5">
    <img src="{% static 'compressed/logofull.webp' %}" alt="The English Studio Logo" class="mb-4" style="max-width: 300px; display: block; margin-left: auto; margin-right: auto;">
  <h2 class="primaryfont text-center">Staff Login</h2>
<form method="post" class="d-flex flex-column align-items-center">
    {% csrf_token %}
    {{ form.as_p }}
        {% if form.errors %}
  <div class="alert alert-danger">
    {{ form.errors }}
  </div>
{% endif %}
    <button type="submit" class="btn btn-red d-block mx-auto">Login</button>
</form>
</div>
{% endblock %}
