{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Add Flyer" %}{% endblock %}

{% block content %}
<div class="container py-4">
  <h2 class="text-center primaryfont">{% trans "Add New Flyer" %}</h2>
  <form method="post" enctype="multipart/form-data" class="mt-4">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-red mt-2">{% trans "Save Flyer" %}</button>
    <a href="{% url 'portal:flyer_list' %}" class="btn btn-secondary mt-2 ms-2">{% trans "Cancel" %}</a>
  </form>
</div>
{% endblock %}
