{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
<!-- Hero Carousel -->
<div class="container-fluid position-relative p-0">
  <div class="carousel-background-overlay"></div>
  <div id="heroCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active position-relative">
        <img src="{% static 'images/afterschoolclub.webp' %}" class="d-block w-100 cimage" alt="...">
        <div class="position-absolute top-0 start-0 text-white p-4 carouseloverlay">
          <h3 class="primaryfont smallerheader">{% trans "After School Club" %}</h3>
          <p class="body-text smallertext">{% trans "Making friends and learning English is so fun!" %}</p>
          <a href="#classes1" class="btn smallerbtn btn-red primaryfont">{% trans "Learn More" %}</a>
        </div>
      </div>
      <div class="carousel-item position-relative">
        <img src="{% static 'images/businessandgeneral.webp' %}" class="d-block w-100 cimage" alt="...">
        <div class="position-absolute top-0 start-0 text-white p-4 carouseloverlay">
          <h3 class="primaryfont smallerheader">{% trans "Business English" %}</h3>
          <p class="body-text smallertext">{% trans "Study to access a world of great opportunities." %}</p>
          <a href="#classes2" class="btn smallerbtn btn-red primaryfont">{% trans "Learn More" %}</a>
        </div>
      </div>
      <div class="carousel-item position-relative">
        <img src="{% static 'images/privatelessons.webp' %}" class="d-block w-100 cimage" alt="...">
        <div class="position-absolute top-0 start-0 text-white p-4 carouseloverlay">
          <h3 class="primaryfont smallerheader">{% trans "Private Tutoring" %}</h3>
          <p class="body-text smallertext">{% trans "Personalized support to help you reach your goals." %}</p>
          <a href="#classes3" class="btn smallerbtn btn-red primaryfont">{% trans "Learn More" %}</a>
        </div>
      </div>
      <div class="carousel-item position-relative">
        <img src="{% static 'images/studyenglish.webp' %}" class="d-block w-100 cimage" alt="...">
        <div class="position-absolute top-0 start-0 text-white p-4 carouseloverlay" style="max-width: 40%;">
          <h3 class="primaryfont smallerheader">{% trans "IELTS Test Preps" %}</h3>
          <p class="body-text smallertext">{% trans "Feel prepared to reach your highest potential." %}</p>
          <a href="#classes4" class="btn smallerbtn btn-red primaryfont">{% trans "Learn More" %}</a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#heroCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#heroCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>

<!-- Main Content -->
  <section class="container-fluid py-4 text-center">
    <img src="{% static 'images/leanneprofile.webp' %}" class="rounded-circle mb-3 teacher_pic" alt="{% trans 'Teacher' %}">
    <h1 class="navy primaryfont">{% trans "Learn English with Leanne" %}</h1>
    <p>{% trans "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed turpis vitae leo pretium feugiat." %}</p>
    <a href="{% static 'templates/main/contact.html' %}" class="btn btn-red primaryfont">{% trans "Contact Me" %}</a>
  </section>

  <section class="container-fluid mt-3" id="classes">
    <h2 class="text-center head-navy primaryfont mb-3 indexheader w-100">{% trans "What We Offer" %}</h2>
    <div class="row g-4">
      <!-- After School -->
      <div class="col-md-6" id="classes1">
        <div class="card h-100">
          <img src="{% static 'images/apple.webp' %}" class="card-img-top icon-presets mt-3" alt="...">
          <div class="card-body">
            <h3 class="card-title red body-text text-center">{% trans "AFTER SCHOOL CLUB" %}</h3>
            <p class="card-text navy body-text">{% trans "Come and join us after school for 90 mins of full immersion English, with our native mother tongue teacher who provides exciting and fun activities for primary school children." %}</p>
            <p class="card-text navy">{% trans "Expose your children to the world and help them acquire fundamental language skills at a young age, preparing them for their best possible future." %}</p>
            <b class="card-text red body-text">{% trans "Price from €22/90 mins." %}<br>{% trans "Up to 8 children for each session." %}</b>
          </div>
        </div>
      </div>

      <!-- Private Lessons -->
      <div class="col-md-6">
        <div class="card h-100" id="classes3">
          <img src="{% static 'images/book.webp' %}" class="card-img-top icon-presets mt-3" alt="...">
          <div class="card-body">
            <h3 class="card-title red body-text text-center">{% trans "PRIVATE ENGLISH LESSONS" %}</h3>
            <p class="card-text navy body-text">{% trans "English lessons tailored to all your needs. Our professionally trained and well-experienced teacher can help you define what you are looking for and together, we can reach your goals." %}</p>
            <p class="card-text navy body-text">{% trans "Imagine a life where you are fluent in English. If you can imagine it, we can achieve it." %}</p>
            <b class="card-text red body-text">{% trans "€27/60 mins children" %}<br>{% trans "€32/60 mins adults" %}</b>
          </div>
        </div>
      </div>

      <!-- IELTS Test Prep -->
      <div class="col-md-6">
        <div class="card h-100" id="classes4">
          <img src="{% static 'images/rosette.webp' %}" class="card-img-top alt-icon-preset mt-4" alt="...">
          <div class="card-body">
            <h3 class="card-title red body-text text-center">{% trans "IELTS TEST PREP" %}</h3>
            <p class="card-text navy body-text">{% trans "Specialising in IELTS test prep, learn all the tips and tricks you need in order to achieve the score of your dreams!" %}</p>
            <p class="body-text navy">{% trans "Our teacher has an excellent record in helping students realise their goals through her outstanding understanding of the difficult exam and how to navigate those high band scores." %}</p>
            <b class="card-text red body-text">{% trans "Price discussed on request." %}</b>
          </div>
        </div>
      </div>

      <!-- Business English -->
      <div class="col-md-6" id="classes2">
        <div class="card h-100">
          <img src="{% static 'images/chat.webp' %}" class="card-img-top alt-icon-preset mt-3" alt="...">
          <div class="card-body">
            <h3 class="card-title red body-text text-center">{% trans "BUSINESS ENGLISH" %}</h3>
            <p class="card-text navy body-text">{% trans "Available both online and in-person, finesse your Business English skills and get that promotion you’ve always dreamed of." %}</p>
            <p class="body-text navy">{% trans "English is THE most widely spoken international business language and you are missing out on the top opportunities if you cannot express yourself properly! Together with our teacher, we can put together a course tailored specifically for you and your needs." %}</p>
            <b class="card-text red body-text">{% trans "Also available in groups." %}<br>{% trans "€32/60 mins" %}</b>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center headertext mt-4">
      <a href="{% url 'contact' %}" class="btn btn-red primaryfont">{% trans "Book Now" %}</a>
    </div>
  </section>

{% endblock %}

